<div class="col s12 tag-div">
  <div class="user-pic center-align">
    <a href="{{site.github_profile}}" target="_blank"><img class="circle hoverable z-depth-1" src="{{site.baseurl}}/assets/res/user.png"></a>
  </div>
  <div class="user-intro center-align">
    <h4 class="hidden">I am a <span id="js-rotating">So Simple, Very Doge, Much Wow, Such Cool</span> Professor</h4>
  </div>
  <div class="user-content">
    <p>   
      <br>    Associate Professor， Hebei Universtiy of Technology   <br/>
      <br> State Key Laboratory of Reliability and Intelligence of Electrical Equipment   <br/>
      <br>  Email：changgeng.zhang#hebut.edu.cn   <br/>          
    </p>
    
    <p>
      <font size="30">   毕业的研究生   </font>
    </p>
     <p> 
        <br>  杨兰   <br/>
        <br>  田亚坤   <br/>
       
     </p>
    
    
    <p>
      <font size="30">       在读的硕士研究生  </font>
  </p>
   <p> 
        <br>  栗浩然   <br/>
        <br>  盖耀虎   <br/>
        <br>  张民   <br/>
         <br>  张妍   <br/>
          <br> 李锡正   <br/>
         <br>  余百川   <br/>
     </p>
    
     <p>
      <font size="30">        PhD students   </font>
       
       
       <br>  陈怡帆   <br/>
        <br>  张豪   <br/>
        <br>  孟文斌   <br/>
         <br>  Rawal Shahbaz   <br/>
            <br> 陈涛   <br/>
        
    </p>
    
  </div>
</div>
