<div class="col s12 tag-div">
  <div class="user-pic center-align">
    <a href="{{site.github_profile}}" target="_blank"><img class="circle hoverable z-depth-1" src="{{site.baseurl}}/assets/res/user.png"></a>
  </div>
  <div class="user-intro center-align">
    <h4 class="hidden">I am a <span id="js-rotating">So Simple, Very Doge, Much Wow, Such Cool</span> Professor</h4>
  </div>
  <div class="user-content">
    <p>   
      <br>    Associate Professor， Hebei Universtiy of Technology   <br/>
      <br> State Key Laboratory of Reliability and Intelligence of Electrical Equipment   <br/>
      <br>  Email：changgeng.zhang#hebut.edu.cn   <br/>          
    </p>
    

       <h4>  PhD/D.Phil students   </h4>     
   <p>  
       <br>  Yifan CHEN（2018-）   <br/>
        <br>  Hao ZHANG （2019-）  <br/>
        <br>  Wenbin MENG（2020-）  <br/>
         <br>  Rawal Shahbaz  （2022-） <br/>
            <br> Tao Chen （2020-）  <br/>       
    </p>
    
    
     <h4> Master students   </h4>

   <p> 
        <br>  杨兰(2019-2022年）   <br/>
        <br>  田亚坤（2019-2022）   <br/>
        <br>  王家俊（2018-2021）   <br/>
        <br>  闫鑫笑（2017-2020）   <br/>
     
        <br>  Haoran LI （2020-）  <br/>
        <br>  Yaohu YAO （2020-）  <br/>
        <br>  Min ZHANG  （2020-） <br/>
         <br> Yan ZHANG （2021-）  <br/>
          <br> Xizheng LI （2021-）  <br/>
         <br>  Baichuan YU （2021-）  <br/>
     </p>
  </div>
</div>
