<div class="col s12 tag-div">
  <div class="user-pic center-align">
    <a href="{{site.github_profile}}" target="_blank"><img class="circle hoverable z-depth-1" src="{{site.baseurl}}/assets/res/user.png"></a>
  </div>
  <div class="user-intro center-align">
    <h4 class="hidden">I am a <span id="js-rotating">So Simple, Very Doge, Much Wow, Such Cool</span> Professor</h4>
  </div>
  <div class="user-content">
    <p>
            2017年-至今  河北工业大学  副教授 
            工程电磁场与磁技术研究所   副所长
    </p>
    
     <p>
       <br>  获得河北省优秀博士学位论文   <br/>
       <br>  获得河北省科技进步奖一等奖（第4名）  <br/>
       <br>  国家自然基金重点项目（优秀结题，排名第四）<br/>
       <br>  主持国家自然基金青年项目和面上项目，在研两项国家自然基金重点项目 <br/>
    </p>
    
  
    <h4>  毕业的研究生  </h4>
     <p> 
        <br>  杨兰(2022年毕业）   <br/>
        <br>  田亚坤（2022年毕业）   <br/>
        <br>  王家俊（2021年毕业）   <br/>
        <br>  闫鑫笑（2020年毕业）   <br/>
     </p>
    
    
       <h4>  在读的博士研究生   </h4>     
   <p>  
       <br>  陈怡帆（2018年入学）   <br/>
        <br>  张豪 （2019年入学）  <br/>
        <br>  孟文斌（2020年入学）  <br/>
         <br>  Rawal Shahbaz  （2022年入学） <br/>
            <br> 陈涛 （2023年即将入学）  <br/>       
    </p>
    
    
     <h4> 在读的硕士研究生   </h4>

   <p> 
        <br>  栗浩然 （2020年入学）  <br/>
        <br>  盖耀虎 （2020年入学）  <br/>
        <br>  张民  （2020年入学） <br/>
         <br>  张妍 （2021年入学）  <br/>
          <br> 李锡正 （2021年入学）  <br/>
         <br>  余百川 （2021年入学）  <br/>
     </p>
    

    
  </div>
</div>
