<div class="col s12 cat-div">
<div class="user-content">
    
    <h3>   国际学术会议  </h3>
     
    <h4>     1）主办学术活动   </h4>
    <p>
         <br>课程基本情况：本科生专业基础课程，40学时    <br/> 
         <br>授课对象：电气工程专业本科生（12个教学班）  大二下学期  <br/> 
    </p>
    
    <h4>     2）学术报告   </h4>
    <p>
         <br>课程基本情况：本科生专业基础课程，40学时    <br/> 
         <br>授课对象：电气工程专业本科生（12个教学班）  大二下学期  <br/> 
    </p>
    
 
   
      <h3>  国内学术会议  </h3>
    
   
    <h4>     1）主办学术活动   </h4>
    <p>
         <br>课程基本情况：本科生专业基础课程，40学时    <br/> 
         <br>授课对象：电气工程专业本科生（12个教学班）  大二下学期  <br/> 
    </p>
    
    <h4>     2）学术报告   </h4>
    <p>
         <br>课程基本情况：本科生专业基础课程，40学时    <br/> 
         <br>授课对象：电气工程专业本科生（12个教学班）  大二下学期  <br/> 
    </p>
          
          

    
    
  </div>
</div>
