<div class="col s12 cat-div">
<div class="user-content">
    
    <h4>   国际学术会议  </h4>
     
   
    <p>
         <h5>     1）主办学术活动   </h5>
         <br>&emsp  课程基本情况：本科生专业基础课程，40学时    <br/> 
         <br>&emsp   授课对象：电气工程专业本科生（12个教学班）  大二下学期  <br/> 
     <br><br/> 
    <h5>     2）学术报告   </h5>

         <br>&emsp  课程基本情况：本科生专业基础课程，40学时    <br/> 
         <br>&emsp   授课对象：电气工程专业本科生（12个教学班）  大二下学期  <br/> 
    <br><br/> 
      <br><br/> 
    
    </p>
    
 
   
      <h4>  国内学术会议  </h4>
    
   
    <h5>     1）主办学术活动   </h5>
    <p>
         <br>&emsp  课程基本情况：本科生专业基础课程，40学时    <br/> 
         <br>&emsp  授课对象：电气工程专业本科生（12个教学班）  大二下学期  <br/> 
    </p>
       <br><br/> 
    <h5>     2）学术报告   </h5>
    <p>
         <br>&emsp  课程基本情况：本科生专业基础课程，40学时    <br/> 
         <br>&emsp  授课对象：电气工程专业本科生（12个教学班）  大二下学期  <br/> 
    </p>
          
          

    
    
  </div>
</div>
