<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
      {% if page.title %}
      {{ page.title | escape }}
      {% else %}
      {{ site.title | escape }}
      {% endif %}
    </title>
    <link rel="shortcut icon" type="image/x-icon" href="{{site.baseurl}}/assets/res/favicon.ico">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css">
    <link rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/main.css">
    {% for css in layout.css %}
    {% if css contains "//" %}
    <link rel="stylesheet" href="{{css}}">
    {% else %}
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/{{css}}">
    {% endif %}
    {% endfor %}
    {% for css in page.css %}
    {% if css contains "//" %}
    <link rel="stylesheet" href="{{css}}">
    {% else %}
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/{{css}}">
    {% endif %}
    {% endfor %}
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/syntax.css">
    <link rel="alternate" type="application/rss+xml" title="RSS" href="{{site.baseurl}}/feed.xml">
    <link rel="sitemap" type="application/xml" title="Sitemap" href="{{site.baseurl}}/sitemap.xml">
    {% seo title=false %}
  </head>
  <body>
    <header>
      <nav class="top-nav teal">
        <div class="nav-wrapper">
          <div class="container">
            <a class="page-title" href="{{site.baseurl}}/">{{site.title}}</a>
          </div>
        </div>
      </nav>
      <div class="container">
        <a href="#" data-activates="slide-out" class="button-collapse top-nav full hide-on-large-only">
          <i class="material-icons">menu</i>
        </a>
      </div>
      <ul id="slide-out" class="side-nav fixed">
        <li>
          <div class="userView">
            <div class="background"></div>
            <a href="{{site.github_profile}}" target="_blank"><img class="circle z-depth-2" src="{{site.baseurl}}/assets/res/user.png"></a>
            <span class="white-text name">{{site.user}}</span>
            <span class="white-text email">{{site.user_email}}</span>
          </div>
        </li>
        <li><a class="waves-effect" href="{{site.baseurl}}/"><i class="material-icons">home</i>News 新闻</a></li>
          <li><a class="waves-effect" href="{{site.baseurl}}/about"><i class="material-icons">person</i>我和我的团队</a></li>
        <li><a class="waves-effect" href="{{site.baseurl}}/projects"><i class="material-icons">description</i>项目和论文</a></li>
          <li><a class="waves-effect" href="{{site.baseurl}}/teaching"><i class="material-icons">people</i>教学</a></li>
         <li><a class="waves-effect" href="{{site.baseurl}}/instruments"><i class="material-icons">share</i>仪器共享</a></li>
         <li><a class="waves-effect" href="{{site.baseurl}}/activities"><i class="material-icons">rss_feed</i>学术交流</a></li>
        <li><a class="waves-effect" href="{{site.baseurl}}/categories"><i class="material-icons">sort</i>分类</a></li>
         <li><a class="waves-effect" href="{{site.baseurl}}/tags"><i class="material-icons">label</i>Tags 标签</a></li> 
        
          <li><div class="divider"></div></li>
          <li><a class="waves-effect" href="{{site.baseurl}}/about-en"><i class="material-icons">person</i>About Me and My Group</a></li>
           <li><a class="waves-effect" href="{{site.baseurl}}/projects-en"><i class="material-icons">description</i>Projects</a></li> 
          <li><a class="waves-effect" href="{{site.baseurl}}/teaching-en"><i class="material-icons">people</i>Teaching</a></li>
         <li><a class="waves-effect" href="{{site.baseurl}}/instruments-en"><i class="material-icons">share</i>Instruments</a></li>
         <li><a class="waves-effect" href="{{site.baseurl}}/activities-en"><i class="material-icons">rss_feed</i>Academic Activities</a></li>
        <li><a class="waves-effect" href="{{site.baseurl}}/categories-en"><i class="material-icons">sort</i>Categories</a></li>
       
      </ul>
    </header>
    <main>
