<div class="col s12 cat-div">
<div class="user-content">
    
       <p>
      <font size="30">  Projects 项目   </font>
    </p>
    
    <p>

     <br>   （1）国家自然科学基金委员会，面上项目，52277008，中高频用超薄硅钢热-力协同作用下介-宏观磁化机理和磁特性实验模拟研究，2023.1-2026.12，54万，在研，主持； <br/>
     
    <br> （2）国家自然科学基金青年项目，51807048，基于神经网络和多条件耦合型磁滞算子深度融合的磁滞模型研究，2019.1-2021.12，25万，结题，主持；   
      
    <br> （3）河北省自然科学基金青年项目，E2018202301，高频变压器绕组电磁效应的建模与计算，2018.01-2020.12，4万，在研，主持；   <br/>
      
<br> （4）国家自然科学基金委员会, 重大研究计划, 92066206, 极端条件下电磁能装备电磁综合性能与可靠性统一设计方法, 2021-01-01 至 2024-12-31, 300万元, 在研, 参与  <br/>
      
<br> （5）河北省高等学校科研技术研究项目，QN2018157，永磁体在多种谐波激励下的涡流损耗测量与建模，2018年1月-2019年12月，在研，主持。  <br/>
      
<br> （6）国家自然科学基金面上项目，51777055，模拟服役条件下电工磁材料磁特性测试及混合矢量磁滞模型研究，2018.1-2021.12，62万，在研，参加；<br/>
     
<br> （7）国家自然科学基金面上项目，51677052，电力变压器谐波磁特性模拟与谐波磁损耗有效算法研究，2017.1-2020.12，63万，在研，参加；<br/>
     
<br> （8）国家自然基金重点项目，51237005，电工磁性材料三维磁特性检测技术和张量磁滞模型，2013.01-2017.12, 290万元，结题，参加，第三完成人。<br/>

    </p>
    
    
    
     <p>
      <font size="30"> Awards and papers  论文和奖励   </font>
    </p>
    
    
        <p>
     <br>      [1]	河北省科技进步奖, 电工磁材料的旋转磁特性测试技术与应用研究, 一等奖，2017，（4/10） <br/>
     
    <br> [2]	Zhang Changgeng, Li Yongjian*, Li Jingsong, Yang Qingxin, Zhu Jianguo. Measurement of Three Dimensional Magnetic Properties with Feedback Control and
            Harmonic Compensation[J], IEEE Transaction on Industrial Electronics, 2017, 64(3):2476-2485.（SCI 一区）
            <a href="http://zhx-hebut.github.io/files/2022_AAAI_Camera_Ready.pdf">[Download paper here]</a></p><p>
   <br/>
      
    <br> [3]	Yifan Chen; Qingxin Yang; Changgeng Zhang*; Yongjian Li; Jiajun Wang; Magnetic-Thermal Coupling Analysis of Saturable Reactor, 
            IEEE Transaction on magnetics, 2022, 58(2): 6300705 
   <br/>
      
<br> [4]	Yifan Chen; Qingxin Yang; Changgeng Zhang*; Yongjian Li; Xinghan Li; 
            Thermal Network Model of High Power Dry-type Transformer Coupled with Electromagnetic Loss, IEEE Transaction on magnetics, 2022, 58(11): 8402105.
  <br/>
      
<br> [5]	张长庚*; 田亚坤; 李永建; 利雅婷; 谐波及直流偏磁下变压器叠片式磁屏蔽杂散损耗模拟与验证, 电工技术学报，2022，37(15): 3733-3742.
  <br/>
      
<br> [6]	张长庚*; 王家俊; 李永建; 杨庆新; 特高压换流阀阳极饱和电抗器动态铁芯损耗模拟, 高电压技术, 2021, 47(6): 2158-2167. <br/>
     
<br> [7]	Zhang, C., Yang, L. and Li, Y. (2022), "Punching effects on local magnetic properties near the edge of nonoriented electrical steels", 
            COMPEL - The international journal for computation and mathematics in electrical and electronic engineering, Vol. ahead-of-print No. ahead-of-print. Sep. 2022.
<br/>
     
<br> [8]	Yan Xinxiao, Li Yongjian, Zhiguang Cheng and Changgeng Zhang*. 
            Prediction of temperature rise for ventilated dry-type transformer by 3-D coupled magneto-fluid-thermal model[J], 
            International Journal of Applied Electromagnetics and Mechanics, 2020, 62:725-735.
<br/>

<br> [9]	Zhang Changgeng*, Yan Xinxiao, Li Yongjian, Yang Qingxin. 
            Vector Magnetic Properties Measurement of Silicon Steel Under Biased Magnetic Excitation Along Laminated Direction [J], 
            IEEE Transaction on Magnetics, 2019, 55(2):8000204.
<br/>
            <br>[10]	Chen Ruiying, Zhang Changgeng*, Li Yongjian, Yang Qingxin. 
            An Improved Method for Measuring the Magnetic Properties of Silicon Steel With Double Sheets at High Frequency [J], 
            IEEE Transaction on Magnetics, 2019, 55(2):6100404.
<br/>
            <br>[11]	Zhang Changgeng*, Jiang Baolin, Li Yongjian, Yang Qingxin. 
            Magnetic Measurement of Soft Magnetic Composites Material under 3D SVPWM Excitation[J], AIP advances, 2018, 8:056630.
<br/>
            <br>[12]	李永建，闫鑫笑，张长庚*，陈怡帆，盈文亮. 基于磁-热-流耦合模型的变压器损耗计算和热点预测[J], 电工技术学报, 2020，35（21）：4483-4491.
<br/>
            <br>[13]	Li Y, Yan X, Wang C, Yang Q Zhang C*. 
            Eddy Current Loss Effect in Foil Winding of Transformer Based on Magneto-Fluid-Thermal Simulation[J], 
            IEEE Transactions on Magnetics, 2019, 55（7）：1-5.
<br/>
            <br>[14]	张长庚, 杨庆新*, 李永建. 电工软磁材料旋转磁滞损耗测量及建模[J]. 电工技术学报, 2017, 32(11):208-216.
<br/>
            <br>[15]	张长庚, 杨庆新, 李永建*. 硅钢叠片在宽频三轴正交激磁条件下的磁特性模拟方法研究[J]. 中国电机工程学报, 2017, 37(7):2167-2175.
<br/>
            <br>[16]	张长庚, 李永建, 杨庆新*. 一种考虑磁滞和微观涡流效应的电磁模拟方法[J]. 中国电机工程学报, 2016, 36(21):5966-5974.
<br/>
            <br>[17]	Zhang Changgeng, Yang Qingxin, Li Yongjian. 
            An Arbitrary 3D Magnetic Flux Density Generator Based on 3D Space Vector PWM Control Method[J]. 
            Journal of International Conference on Electrical Machines and Systems, 2015, 4(3): 58-65. 
<br/>
            <br>[18]	Zhang Changgeng, Li Yongjian, Li Dandan, Yang Qingxin. 
            Three-Dimensional Vector Preisach Hysteresis Model of the Soft Magnetic Composite Material[C]. 
            IEEE Int. Conf. Appl. Supercond. Electromagn. Devices, ASEMD, Oct 25-27, 2013. (EI: 20141817658457)
<br/>
            <br>[19]	Zhang Changgeng, Yang Qingxin, Li Yongjian, Zhang Ziyi. 
            A Novel Three Dimensional Space Vector PWM control For Three Dimensional Magnetic Property Measurement Apparatus[C].
            The 17th Int. Conf. Electrical Machines and Systems. October 22-25, 2014. (EI: 20150800537085)
<br/>
            <br>[20]	Yu Xinran，Li Yongjian, Yang Qingxin, Zhang Changgeng. Research of Harmonic Effects on Core Loss in Soft Magnetic Composite Materials[J].
            IEEE Transaction on Magnetics, 2019, 55(2): 1-5
<br/>
            <br>[21]	Yan Rongge, Guo Xiaoting Cao Shaoqing, Zhang Changgeng. 
            Optimization of output power and transmission efficiency of magnetically coupled resonance wireless power transfer system[J].
            AIP advances, 2018, 8(1): 056625.
<br/>
            <br>[22]	Li Yongjian, Qing Zhao, Wang Lixiang, Zhang Changgeng, Yan Rongge. 
            Improved High-Frequency Rotating Magnetic Properties Tester for Nanocrystalline Soft Magnetic Material [J]. IEEE Trans. Magn., 2017, 53(11): 6101504
<br/>
            <br>[23]	Li Yongjian, Cao Lei, Zhang Changgeng, et al. 
            Rotational Core Loss of Silicon Steel Laminations Based on Three-Dimensional Magnetic Properties Measurement [J]. IEEE Trans. Appl. Supercon., 2016, 26(4): 1-5.
 <br/>
    
    </p>
    
  
      <p>
      <font size="30">   Patent 发明专利：   </font>
    </p>


<br> 1）	张长庚,陈涛,李永建,杨庆新. 基于空间正交三轴应力加载条件下的单片磁特性测量装置[P]. 天津市：CN112986874B,2022-11-01. <br/>
    

       <p>
      <font size="30">   实用新型：   </font>
    </p>
    
    
  <br>  2）	张长庚；王家俊李永建；陈怡帆，复杂工况下阳极饱和电抗器铁芯磁特性测量装置及系统。CN720720703U，授权日趋，2020.06.09. <br/>

<br>   3）	张长庚,王家俊,李永建,李星汉. 一种在叠置方向施加应力的改进爱泼斯坦方圈[P]. 天津市：CN210626642U,2020-05-26. <br/>

    
    
   
  </div>
</div>
