<div class="col s12 cat-div">
<div class="user-content">
    
    
    <h4>   Teaching for undergraduate students 本科教学  </h4>
     
   
    <p>
         <h6>   1）Engineering Electromagnetism  工程电磁场  </h6>  
         <br>课程基本情况：本科生专业基础课程，40学时    <br/> 
         <br>授课对象：电气工程专业本科生（12个教学班）  大二下学期  <br/> 
    </p>
    
   
    <p>
          <h6>  2）Fundamentals of Materials in Electrical Engineering 电工材料及其应用  </h6>  
         <br>课程基本情况：本科生专业选修课程，32学时    <br/> 
         <br>授课对象：电气工程专业本科生（13个教学班）  大三上学期  <br/> 
    </p>    
        
       
    
     <p>
          <h5>  3）Signal and System 《信号与系统》  </h5>  
         <br>课程基本情况：本科生专业基础课程，32学时    <br/> 
         <br>授课对象：电气工程专业本科生（12个教学班）  大二下学期   <br/>          
    </p>
 
    
    <h4>   Teaching in Finland  河北工大-芬兰拉彭兰塔大学联合办学  </h4>
     <h5>   Electromagnetism   （in English）  电磁场（芬兰英文授课）  </h5>
      <p>
          <br>  授课地点：芬兰拉彭兰塔大学   <br/> 
          <br> 课程基本情况：12周，理论学时24学时，实验学时24学时，习题课24学时   <br/> 
         <br>  授课对象：电气工程专业 芬兰拉彭兰塔大学本科生，河北工业大学的国际交换生，   <br/>            
    </p>
    
 
      <h4>  Teaching for postgraduate students 研究生教学  </h4>
      <h5>   1)  电磁场数值分析   </h5>
      <p>
          <br>硕士研究生核心课程，32学时   <br/> 
         <br>  授课对象：电气工程专业研究生1年级   <br/> 
    </p>  
          
          
     <h5>  2) 电工磁性材料   </h5>
     <p>    
           <br>硕士研究生和博士研究生直通课程，选修课，16学时   <br/>
           <br> 授课对象：电气工程专业硕士研究生1年级，博士研究生1年级   <br/>       
    </p>
    
    
  </div>
</div>
