<div class="col s12 cat-div">
<div class="user-content">
    
    
     <h4>  <font color="#2F2F4F"> Undergraduate Teaching  </font> </h4>
     
   
    <p>
         <h5>   1）Engineering Electromagnetism   </h5>  
         <br>&emsp;  Basic information of the course: 40 class hours of basic professional courses for undergraduates    <br/> 
         <br>&emsp;  Audience: Undergraduate students of electrical engineering (12 classes) in the second semester of their sophomore year  <br/> 
    </p>
    
   
    <p>
          <h5>  2）Fundamentals of Materials in Electrical Engineering   </h5>  
         <br>&emsp;  Basic information of the course: 32 class hours for undergraduate major elective courses   <br/> 
         <br>&emsp;  Audience: Undergraduate students of electrical engineering (13 classes) in the first semester of their junior year  <br/> 
    </p>    
        
       
    
     <p>
          <h5>  3）Signal and System  </h5>  
         <br>&emsp;  Basic information of the course: 32 class hours of basic professional courses for undergraduates    <br/> 
         <br>&emsp;  Audience: Undergraduate students of electrical engineering (12 classes) in the second semester of their sophomore year   <br/>   
<br>  <br/>
<br>  <br/>


    </p>
 
    
    <h4>   Teaching in Finland   </h4>
     <h5>   Electromagnetism   （in English）   </h5>
      <p>
          <br>  &emsp;  Location: Lapelanta University, Finland  <br/> 
          <br> &emsp;  Basic information of the course: 12 weeks, 24 theoretical hours, 24 experimental hours, 24 exercise classes   <br/> 
         <br>  &emsp;  Audience: Undergraduate students of Lapelanta University, Finland, majoring in electrical engineering, 
             and international exchange students of Hebei University of Technology,   <br/>   
          
 <br>  <br/>
<br>  <br/>

    </p>
    
 
      <h4>  Postgraduate Teaching   </h4>
      <h5>   1) Numerical analysis of electromagnetic field </h5>
      <p>
          <br>&emsp;  Core course for master's degree, 32 class hours   <br/> 
         <br> &emsp;   Graduate students majored in electrical engineering  <br/> 
    </p>  
          
          
     <h5>  2)  Magnetic Materials in Electrical Engineering   </h5>
     <p>    
           <br>&emsp;  Shared courses for postgraduate and doctoral students, Selective courses, 16 class hours   <br/>
           <br> &emsp;  Master and PHD students majored in electrical engineering   <br/>       
    </p>
    
    
  </div>
</div>
